@font-face {
    font-family: 'sousesregular';
    src: url('../fonts/souses-webfont.eot');
    src: url('..//fonts/souses-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/souses-webfont.woff2') format('woff2'),
         url('../fonts/souses-webfont.woff') format('woff'),
         url('../fonts/souses-webfont.ttf') format('truetype'),
         url('../fonts/souses-webfont.svg#sousesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.black{
  color: black;
}

h1{
  padding: 0px;
  margin: 0px;
}

body{
	background: url(../images/agsquare.png);
	font-family: 'sousesregular', sans-serif;;
}

h2, h3{
  font-family: 'Raleway', sans-serif;
}

h1{

}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.wrap{
	width: 1200px;
	margin: auto;
}

.SearchWrap p{
	color: #000;
}

.footer{
	color: #FFFFFF;
	background: #02A2EF;
	max-width: 100%;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	height: 100%;
}

.logo{
	background-color: #000;
	color: #FFFFFF;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 25px;
	overflow: hidden;
}

.Search{
	background-color: #F3FAFE;
	border: 2px solid #02A2EF;
	margin-top: 20px;
}

.SearchWrap{
	padding: 20px;
	color: #02A2EF;
}

.SearchWrap input{
	border: 2px solid #02A2EF;
	border-radius: 10px;
	height: 30px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.SearchResults{
	width: 100%;
	height: 300px;
	max-height: 500px;
	border: 2px solid #02A2EF;
	margin-top: 20px;
	background-color: #FFFFF;
	text-align: center;
	background: #FFFFFF;
	color: #D3D3D3;
	overflow: auto;
}

.TopChain{
	max-width: 100%;
	border: 2px solid #02A2EF;
	margin-top: 20px;
	max-height: 100%;
	height: 500px;
	background-color: #F3FAFE;
	padding: 20px;
	color: #02A2EF;
	overflow: auto;
}

.aboutsteps{
  max-width: 100%;
  border: 2px solid #02A2EF;
  margin-top: 20px;
  max-height: 100%;
  background-color: #F3FAFE;
  padding: 20px;
  color: #02A2EF;
}

/*Navigation Bar*/

nav{
	font-family: 'sousesregular', sans-serif;;
	font-size: 23px;
	margin: auto;
	text-align: center;
	background-color: #5BC1F2;
}

nav.nav1 ul li a {
	font-family: 'sousesregular', sans-serif;;
	font-size: 23px;
}

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 2px solid #02A2EF;
	color: #FFFFFF;
}


nav ul li{
	display: inline-block;
	color: #FFFFFF;
}

nav ul li:hover{
	background-color: #02A2EF;
}

.current_page{
	background-color: #02A2EF;
}



nav ul li a,visited{
	color: #FFFFFF;
	display: block;
	padding: 15px 50px;
	text-decoration: none;
}

nav ul li a:hover{
	color: white;
	text-decoration: none;
}

/*Navigation Bar*/

/*SPLASH PAGE VVVV*/

.Welcome{
	text-align: center;
	font-size: 50px;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aboutgraphic{
	max-height: 100%;
	max-width: 100%;
	margin: auto;
	width: 1300px;
	height: 1000px;
}

#sign_up{
	margin-left :  auto;
	margin-top: 20px;
	padding: 10px;
	background-color: #F3FAFE;
	border: 2px solid #02A2EF;
	color: #02A2EF;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#sign_up input{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid #02A2EF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}

/*Profile Page VVVV*/

.UserInfo{
	max-width: 300px;
	width: 400px;
	float: left;
	border-right: 2px solid #02A2EF;
	margin-top: 20px;
}

.Image{
	border: 2px solid #02A2EF;
	height: 200px;
	width: 200px;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
	margin-top: 20px;
}

.Image img{
	width: 200px;
	height: 200px;
	margin: auto;
}

.Info{
	text-align: center;
}

.ChainInfo{
	float: right;
	margin: auto;
	min-width: 70%;
	max-width: 70%;
	margin: auto;
}

.Published{
	max-height: 500px;
	height: 300px;
	background-color: #F3FAFE;
	border: 2px solid #02A2EF;
	margin-top: 20px;
	padding: 20px;
	color: #02A2EF;

}

.Collab{
	max-height: 500px;
	height: 300px;
	background-color: #F3FAFE;
	border: 2px solid #02A2EF;
	margin-top: 20px;
	padding:5px;
	color: #02A2EF;
}

.lim{
	float: left;
}

.CreateChain{
	background-color: #F3FAFE;
	border: 2px solid #02A2EF;
	margin-top: 20px;
	padding: 20px;
	max-height: 100%;
	overflow: hidden;
	color: #02A2EF
}

.CreateNew{
	color: #02A2EF;
	text-align: center;
	margin-top: 80px;
}

.ListedChains{
	color: #02A2EF;
	margin: auto;
	text-align: center;
	margin-top: 80px;
}

.CreateNew input, .ListedChains input{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 20px;
	width: 200px;
	display: block;
	border: 2px solid #02A2EF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}

.ErrorInput {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid #FF0000;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.CreateChain button, #searchTroveBtn, #mkChain{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid #F17822;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}


#header_title{
	display: inline;
}

#login{
	margin-left :  auto;
	margin-top: 20px;
	padding: 10px;
	background-color: #F3FAFE;
	border: 2px solid #02A2EF;
	color: #02A2EF;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#login input{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid #02A2EF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}

#Tags, #apply_btn ,#searchbtn, #editChainsList, #edit_profile, #edit_picture, .View_Chain{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid Black;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
}

#addtochain {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid Black;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
}

#results_table{
	width: 100%;
	padding: 2.5%;
	overflow: auto;
}

.results_dark{
	text-align: center;
	width: 100%;
	background-color:#99D7F5;
	height: 25px;
	margin: 5px 0 5px 0;
}

.results_light{
	text-align: center;
	width: 100%;
	background-color:#F3FAFE;
	height: 25px;
}

.TableButton{
	padding: 2px;
	border: 2px solid #F17822;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-align: center;
}

.result_cell{
	width: 16%;
	color: black;
	font-family: 'Raleway', sans-serif;
}

.CreateChainSearch {
	display: inline;
	float: left;
	width: 47.5%;
	padding: 0px;
	margin-right: 2.5%;
	height: 570px;
}

.CreateChainTimeline {
	display: inline-block;
	float: right;
	width: 47.5%;
	padding: 1%;
	margin-left: 2.5%;
	height: 570px;
}

.CreateChainTimeline1 {
  width: 47.5%;
  padding: 1%;
  margin: auto;
  height: 570px;
  margin-top: 20px;
}

#logout {
margin-top: 10px;
float: left;
width: 100px;
margin-bottom: 5px;
}

#logout input{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding: 5px;
	width: 75px;
	border: 2px solid #02A2EF;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	text-align: center;
}

#users_name {
	font-size: 12pt;
	float: right;
	margin-top: 10px;
}


#AddKeywords, #AddNotes{
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #02A2EF;
}







.Top_Result{
	background: white;
	height: 200px;
	border: 2px solid #02A2EF;
	max-height: 73px;
	padding: 1px;
	margin: 18px;
	overflow: hidden;
}

.result_number, .reputation, .Top_info, .title, .date, .author{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	text-align: center;
}

.result_number{
	background: #d3d3d3;
	min-height: 100%;
}

.Top_info{
	background: #F3FAFE;
}

.View_Chain{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	border: 1px solid black;
}

.View_Chain2{
  margin-top: 15px;
  border: 1px solid black;
  width: 50px;
  height: 30px;
}



#Comment{
  text-align: center;
  padding: 20px;
}


.Search_Top_Result{
  background: white;
  height: 200px;
  border: 2px solid #02A2EF;
  max-height: 73px;
  padding: 1px;
  margin: 18px;
  overflow: hidden;
}

.Search_result_number, .Search_reputation, .Search_Top_info, .Search_title, .Search_date, .Search_author{
	float: left;
	height: 100%;
	text-align: center;
}

.Search_title, .Search_author{
	width: 30%
}

.Search_date {
	font-size: 15px;
}

.Search_result_number{
	background: #d3d3d3;
	min-height: 100%;
	width: 2.5%;
}

.Search_Top_info{
	background: #F3FAFE;
	width: 90%;
}
