
body{
	background: url(../images/agsquare.png);
	font-family: Souses;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 20px; 
}

.wrap{
	width: 1200px; 
	margin: auto; 
}

.SearchWrap p{
	color: #000; 
}

.footer{
	color: #FFFFFF;
	background: #02A2EF;
	max-width: 100%; 
	padding: 20px; 
	margin-top: 30px;
	text-align: center; 
}

.logo{
	background-color: #000;
	color: #FFFFFF;
	padding: 10px; 
	margin-bottom: 20px; 
	text-align: center; 
	font-size: 25px; 
	overflow: hidden; 
}

.Search{
	background-color: #F3FAFE; 
	border: 2px solid #02A2EF;
	margin-top: 20px; 
}

.SearchWrap{
	padding: 20px;
	color: #02A2EF; 
}

.SearchWrap input{
	border: 2px solid #02A2EF;
	border-radius: 10px; 
	height: 30px; 
	width: 100%; 
	font-family: 'Raleway', sans-serif; 
	text-align: center; 
}

.SearchResults{
	width: 100%; 
	height: 300px; 
	max-height: 500px; 
	border: 2px solid #02A2EF; 
	margin-top: 20px; 
	background-color: #FFFFF; 
	text-align: center; 
	background: #FFFFFF; 
	color: #D3D3D3; 
	overflow: auto;
}

.TopChain{
	max-width: 100%;
	border: 2px solid #02A2EF; 
	margin-top: 40px; 
	max-height: 100%; 
	height: 500px; 
	background-color: #F3FAFE; 
	padding: 20px; 
	color: #02A2EF; 
	overflow: auto; 
}

/*Navigation Bar*/

nav{
	font-family: Souses;
	font-size: 23px;
	margin: auto;
	text-align: center;
	background-color: #5BC1F2;
}

nav ul{
	list-style-type: none; 
	padding: 0; 
	margin: 0;
	border: 2px solid #02A2EF;
	color: #FFFFFF; 
}


nav ul li{
	display: inline-block; 
	color: #FFFFFF; 
}

nav ul li:hover{
	background-color: #02A2EF;
}

.current_page{
	background-color: #02A2EF;
}



nav ul li a,visited{
	color: #FFFFFF;
	display: block; 
	padding: 15px 50px; 
	text-decoration: none; 
}

nav ul li a:hover{
	color: white; 
	text-decoration: none; 
}

/*Navigation Bar*/

/*SPLASH PAGE VVVV*/

.Welcome{
	text-align: center;
	font-size: 70px; 
}

.aboutgraphic{
	max-height: 100%; 
	max-width: 100%;  
	margin: auto; 
	width: 1300px; 
	height: 1000px; 
}

#sign_up{
	margin-left :  auto;
	margin-top: 20px;
	padding: 10px;
	background-color: #F3FAFE; 
	border: 2px solid #02A2EF;
	color: #02A2EF;
	text-align: center; 
	font-family: 'Raleway', sans-serif;
}

#sign_up input{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid #02A2EF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	
}

/*Profile Page VVVV*/

.UserInfo{
	max-width: 300px; 
	width: 400px;
	float: left; 
	border-right: 2px solid #02A2EF; 
	margin-top: 20px;
}

.Image{
	border: 2px solid #02A2EF; 
	height: 200px; 
	width: 200px; 
	overflow: hidden; 
	border-radius: 50%;
	margin: auto;
	margin-top: 20px; 
}

.Image img{
	width: 200px; 
	height: 200px; 
	margin: auto;
}

.Info{
	text-align: center; 
}

.ChainInfo{
	float: right; 
	margin: auto; 
	min-width: 70%;
	max-width: 70%; 
	margin: auto; 
}

.Published{
	max-height: 500px; 
	height: 300px; 
	background-color: #F3FAFE; 
	border: 2px solid #02A2EF; 
	margin-top: 20px; 
	padding: 20px; 
	color: #02A2EF; 
	
}

.Collab{
	max-height: 500px; 
	height: 300px; 
	background-color: #F3FAFE;
	border: 2px solid #02A2EF; 
	margin-top: 20px; 
	padding: 20px; 
	color: #02A2EF; 
}

.lim{
	float: left; 
}

.CreateChain{
	background-color: #F3FAFE; 
	border: 2px solid #02A2EF;
	margin-top: 20px; 
	padding: 20px;
	max-height: 100%; 
	overflow: hidden; 
	color: #02A2EF
}

.CreateNew{
	color: #02A2EF; 
	text-align: center; 
	margin-top: 80px; 
}

.ListedChains{
	color: #02A2EF; 
	margin: auto; 
	text-align: center; 
	margin-top: 80px; 
}

.CreateNew input, .ListedChains input{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid #02A2EF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	
}

.CreateChain button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid #F17822;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}


#header_title{
	display: inline;
}

#login{
	margin-left :  auto;
	margin-top: 20px;
	padding: 10px;
	background-color: #F3FAFE; 
	border: 2px solid #02A2EF;
	color: #02A2EF;
	text-align: center; 
	font-family: 'Raleway', sans-serif;
}

#login input{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 5px;
	width: 200px;
	display: block;
	border: 2px solid #02A2EF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	
}









